@import "../../common/style/1px.scss";

@keyframes zoom-in {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoom-out {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
._picker_modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  max-width: 640px;
  margin: 0 auto;
  background: rgba(45, 45, 45, .6);
  align-items: center;
  justify-content: center;
  transition: opacity .2s;
}

._picker_wrap {
  width: 5.03rem;
  background: #fff;
  border-radius: .12rem;
  animation: zoom-in .2s;
}

._picker_title {
  font-size: .27rem;
  line-height: 1.08rem;
  text-align: center;
  @include b-2px-b;

  i {
    position: absolute;
    top: 50%;
    left: 0;
    padding: .3rem;
    color: #ccc;
    cursor: pointer;
    transform: translateY(-50%) scale(.8);
  }
}

._picker_sub {
  padding: 0 .3rem;
  //fix:图标缩为.8倍
  padding-right: .26rem;
  font-size: .27rem;

  p {
    font-size: .27rem;
    line-height: .8rem;
    color: #222;
    cursor: pointer;
    @include b-2px-b();
  }
}

._picker_icon_box {
  display: block;
  float: right;
  font-size: .22rem;
  line-height: .8rem;
  color: #999;

  i {
    position: relative;
    display: inline-block;
    font-size: .22rem;
    transform: rotate(-180deg) scale(.8);
  }
}
