._picker_modal(style="z-index:1000;")
  ._picker_wrap
    p._picker_title
      i.icon-close.js_picker_close
      span #{title}
    ._picker_sub
      p._picker_sub_one
        //-img()
        span #{pickerOne}
        span._picker_icon_box
          i.icon-back
      p._picker_sub_two
        //-img()
        span #{pickerTwo}
        span._picker_icon_box
          i.icon-back
